VITE_VAULT_CONTRACT_ID=
VITE_TIMELOCK_CONTRACT_ID=
VITE_TREASURY_ADDRESS=
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
VITE_STELLAR_EXPLORER_URL=https://stellar.expert/explorer/testnet
